<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="smallColumns" v-if="showMenu === true">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: playerHealth + '%'}">
                    {{playerHealth}}
                </div>
            </div>
        </div>
        <div class="smallColumns" v-if="showMenu === true">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monsterHealth + '%'}">
                    {{monsterHealth}}
                </div>
            </div>
        </div>
    </section>
    <div style="clear: both;"></div>
    <section class="row controls" v-if="showStart">
        <div class="small-12 columns">
            <button class="start-game" @click="showStats = true; showStart = false">START NEW GAME</button>
        </div>
        <div class="small-12 columns">
            <a href="heightScores.html"><button id="scoreList">Height scores</button></a>
        </div>
    </section>
    <section class="row controls" v-if="showStats">
        <br>
        <table>
            <tr>Attack: <input v-model="attackPoints" type="text"></tr>
            <tr>Heal: <input v-model="healPoints" type="text"></tr>
        </table>
        <br>
        {{message}}<br><br>
        <button class="start-game" @click=start>Next</button>
    </section>
    <section class="row controls" v-if="showMenu === true">
        <div class="small-12 columns">
            <button id="attack" @click=attack>ATTACK</button>
            <button id="special-attack" @click=specialAttack v-if="counterPlayerSpecial >0">SPECIAL ATTACK</button>
            <button id="heal" @click=heal v-if="counterPlayerHeal >0">HEAL</button>
            <button id="give-up" @click=giveUp>GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="showLogs">
        <div class="small-12 columns">
            <ul v-for="value in logs">
                <li>
                    {{value}}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="script.js"></script>
</body>
</html>